.mad-footer {
    position: relative;
    color: #e2f5ff;
    padding: 8rem 0;
    background-color: #fc6d2c;
    background-size: contain;
}

/*----LINKS----*/
.mad-footer a {
    color: #f5f7f8;
    text-decoration: none; outline: none !important;
    vertical-align: baseline;
}

.mad-footer a:hover {
    transform: scale(1.5);
    color: black;
}
/*desaparecen los puntos de la lista*/
.mad-widget ul {
    list-style: none;
}

/*cetra los elementos*/
.mad-footer .mad-widget {
    font-size: inherit;
    line-height: inherit;
    text-align: center;
    z-index: 1;
    position: relative;
}
.mad-footer address {
    font-style:normal;
}

.mad-footer .mad-icon-btn {
    color: #040a1c;
    font-size: 1.875rem;
}

/*-----TÏTULOS----*/
h4 {
    font-size: 2.5rem !important;
    line-height: 3rem !important;
}


/*-----ÍCONOS SOCIAL MEDIA------*/
.social-icons{
    display: flex;
}
.mad-social-icons ul li {
    padding: 1rem 1rem 0;
    font-size: 1.3125rem;
}

/*-----COPYRIGHTS-----*/
.copyrights {
    margin-top: 4.25rem;
    text-align: center;
    font-size: 16px;
}

.copyrights a {
    color: inherit; /*le da el color blanco*/
}