@import "./navbar.css";
@import "./carousel.css";
@import "./footer.css";
@import "./map.css";
@import "./info-empresa.css";


body {
    font-family: "futura", serif !important;
    color: #000000;
    min-width: 100vh;
}