.mapa {
    padding: 100px 30px 30px 30px;
    background-color: rgb(247, 239, 239);
}
.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:469px;
    width:100%;
    position:absolute;
}