/*foto principal*/
.header {
    background: url(../imagenes_profesionales/La\ Casa\ del\ Sabor\ \(1\).png) no-repeat center;
    background-color: black;
    background-size: cover;
    min-height: 100vh;
}

.header .navbar {
    background: rgba(0, 0, 0, 0.7);
    font-family: 'Prata', serif;
    z-index: 3;
    display: flex;
    float: left;
}

/* Digital Ginés*/
.navbar-text {
    margin-right: -25px;
    margin-left: 10px;
}
.nav-item {
    z-index: 3;
    padding-left: 100px;
    padding-top: 20px;
}
.navbar-toggler{
    background-color: beige;
}
.logo{
    padding-left: 20px;
}